<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='img/favicon-32x32.png') }}">
    <link rel="shortcut icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='img/favicon-16x16.png') }}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <script src="{{url_for('static', filename='scripts/delete_posts.js') }}"></script>
    <script src="{{url_for('static', filename='scripts/voting.js') }}"></script>
    <title>BENDAN - Feed</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
    </style>
</head>
<body style="font-family: 'Roboto Condensed', sans-serif">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/{{current_user.private_id}}/feed">
            <img src="{{ url_for('static', filename='img/bendan_transparentbg.svg') }}" alt="" width="180">
      </a>
      <form class="form-inline"></form>
      <button class="btn btn-danger navbar-btn" onclick="window.location.href='/{{current_user.private_id}}/profile'">{{current_user.username}}</button>
    </form>
    </div>
  </nav>
  
  <!-- Page Content -->
  <div class="container">
      <br>
      <h1 class="display-3" style="font-weight: 400; color: #ff0f0f;"><span>{{current_user.username}}'s </span><span style="color:#000"> feed:</span></h1>
      <br>
      {% if posts.items|length > 3 %}
      {% if posts.has_next %}
      <button class="btn btn-danger" onclick="window.location.href='/{{current_user.private_id}}/feed/{{posts.next_num}}'" style="float: right">OLDER &gt;&gt;</button>
      {% endif %}
      {% if posts.has_prev %}
      <button class="btn btn-danger mr-1" onclick="window.location.href='/{{current_user.private_id}}/feed/{{posts.prev_num}}'" style="float: right">&lt;&lt; NEWER</button>
      {% endif %}
      {% endif %}
      <br><br>
      {% for post in posts.items %}
      <div class ="card" style="box-shadow: 0 0 5px 0 rgba(100, 100, 100, 0.26);">
        <a class="card-block stretched-link text-decoration-none" href="/post/{{post.post_id}}"></a>
          <h5 class="card-header font-weight-bold">{{post.title}}</h5>
          <div class="card-body">
            <p class="card-text">{{post.content}}</p>
            <button class="upvote" id="upvote-btn" data-postid="{{post.post_id}}" style="z-index: 2; position: relative;">Upvote</button>
            <footer class="text-muted" id="{{post.post_id}}">Upvotes: {{post.upvotes}}</footer>
            <footer class="text-muted"><em>{{time_string(post.timestamp)}} by <strong>{{post.username}}</strong></em></footer>
          </div>
        </a>
      </div>
      <br>
      {% endfor %}

      {% if posts.has_prev %}
      <button class="btn btn-danger" onclick="window.location.href='/{{current_user.private_id}}/feed/{{posts.prev_num}}'">&lt;&lt; NEWER</button>
      {% endif %}
      {% if posts.has_next %}
      <button class="btn btn-danger" onclick="window.location.href='/{{current_user.private_id}}/feed/{{posts.next_num}}'" style="float: right">OLDER &gt;&gt;</button>
      {% endif %}

      {% if posts.items|length == 0 %}
      <br><br>
      <h3 class="display-4" style="font-weight: 400;">You haven't posted anything yet.</h3><br><br>
      <h3 class="display-5" >Click the <span style="color: #ff0f0f;">button</span> in the <span style="color: #ff0f0f;">top right corner</span> to create a post.</h3>
      {% endif %}
  </div>
  <!-- /.container -->
  <br><br><br>

</body>
</html>
