<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{url_for('static', filename='scripts/delete_posts.js') }}"></script>
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='img/favicon-32x32.png') }}">
    <link rel="shortcut icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='img/favicon-16x16.png') }}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
    <title>BENDAN - {{post[1]}}</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
    </style>
</head>
<body style="font-family: 'Roboto Condensed', sans-serif">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/{{current_user.private_id}}/feed">
            <img src="{{ url_for('static', filename='img/bendan_transparentbg.svg') }}" alt="" width="180">
      </a>
    </form>
    </div>
  </nav>
  
  <!-- Page Content -->
  <div class="container">
      <br>
      <div class ="card" style="box-shadow: 0 0 12px 0 rgba(100, 100, 100, 0.26);">
          <h5 class="card-header font-weight-bold">{{post[1]}}</h5>
          <div class="card-body">
            <p class="card-text">{{post[2]}}</p>
            <footer class="text-muted">Upvotes: {{post[4]}}</footer>
            <footer class="text-muted"><em>{{post[3]}}</em></footer>
            {% if current_user.username == post[5] %}
            <br>
            <a onclick="delete_post('{{post[0]}}');" class="btn btn-danger" style="color: #fff;">DELETE</a>
            {% endif %}
          </div>
        </a>
      </div>
      <br>
  </div>
  <!-- /.container -->
</body>
</html>